.encabezado {
    background-color: rgb(209, 209, 209);
    text-align: center;
}
#principal {
    background-color: rgb(184, 184, 184);
    color: rgb(35, 99, 182) ;
}
.secundarios {
    background-color: rgb(184, 184, 184);
    color: rgb(35, 99, 182);
}

.sangria {
    text-indent: 80px;
}

footer {
    background-color: rgb(0, 71, 138);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 2px;
}