/* https://www.figma.com/file/31NtnGFVE8XyUbfA8Esktw/Petshop?node-id=0%3A1   figma de referencia */

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body ::selection{
    background-color: var(--color-primario);
}

html{
    font-size: 10px;
}

:root{
    --color-primario: #F0A83E;
    --color-primario-clarito: #f1b55b;
    --color-secundario: #3C2313;
    --color-secundario-clarito: #442c1d;
}

header,#propa{
    background-color: #222222;
    font-size: 1.3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

button img{
    background-color: inherit;
}

#menuTop{
    font-size: 1rem;
    background-color: #222222;
}

header,span,a{
    text-decoration: none;
    color: inherit;
}

.optionsHeader{
    background-color: inherit;
    color: white;
    border: none;
}

.opciones{
    color: black;
}

.enlacesHeader{
    background-color: #222222;
}

button{
    border: none;
    color: white;
}

/* ------------------------------------------------HEADER LISTO-------------------------------------------------------------- */

.patitasMenu{
    background-color: var(--color-primario);
}

#espacio{
    background-image: url(../images/Logo.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5rem;
    display: flex;
    justify-content: right;
    padding-right: 3rem;
    align-items: center;
    height: 80px;
    background-color: var(--color-primario) ;
}

.menuPrin{
    background-color: var(--color-primario);
    color:white;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 2px;
}

#menuIcon{
    display: none;
}

#banner{
    background-image: url(../images/bowl-and-pet-daities-on-green-background\ 1.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.placer{
    background-color:white;
    border-radius: 5px;
    font-size: 35px;
    color: var(--color-secundario);
    padding: 1rem 0px 1.5rem 0px;
    height: 4.5rem;
    width: 42.5rem;
    padding-left: 2rem;
    margin-right: 5rem;
}


#descuentosBanner{
    background: none;
    font-size: 2.5rem;
    color: var(--color-secundario);
    padding: 2rem;
    margin-right: 10rem;
}

#comederosbn{
    background-color: var(--color-primario);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin-right: 17rem;
    padding: 10px 10px 10px 10px;
    height: 6.8rem;
    width: 20rem;
}

#comederosbn:hover{
    background-color: var(--color-primario-clarito);
}

/* ------------------------------------------------BANNER LISTO-------------------------------------------------------------- */
.iniTienda{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-secundario);
}

h1{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.iniTienda span{
    font-size: 2rem;
}

.productos{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 2rem;
}
/* ---------------------------------------------------PRODUCTOS LISTO-------------------------------------------------------- */
.contactanos{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-secundario);
    font-size: 20px;
    gap: 1rem;
}

.mensaje{
    background-color: var(--color-secundario);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 25rem;
    padding: 1.5rem 0;
}

.mensaje h2{
    color: white;
    font-size: 2.5rem;
}

textarea{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border-radius: 1rem;
    outline: 0;
    padding: 5px 1rem;
    max-width: 100%;
    height: 100%;
}

textarea:focus, textarea:hover{
    background-color: var(--color-primario-clarito);
}

.contactanos,h2{
    margin-bottom: 25px;
}

.contact{
    background-color: var(--color-secundario);
    width: 32.5rem;
    padding: 1.5rem;
    border-radius: 15px;
    border: none;
    color: white;
}

.contact:focus, .contact:hover{
    background-color: var(--color-secundario-clarito);
}

.botones{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#reset{
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    background-color: #8A8787;
    border-radius: 1.5rem;
    margin-bottom: 5rem;
    height: 3.9rem;
}

#sent{
    background-color: var(--color-primario);
    font-size: 2rem;
    padding-top: 5px;
    padding-right: 27.5px;
    padding-bottom: 10px;
    padding-left: 27.5px;
    border-radius: 1.5rem;
    height: 3.9rem;
}
#sent:hover{
    background-color: var(--color-primario-clarito);
}

#sus{
    background-color: var(--color-primario);
    background-image: url(../images/enviar-correo\ 1.png);
    background-repeat: no-repeat;
    background-position-x: 2rem;
    background-position-y: center;
    padding-left: 6.5rem;
    padding-right: 10px;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.susbar{
    background-color: var(--color-primario);
}

#suscribe{
    background-color: inherit;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
    font-size: 2rem;
}

input{
    border: 0 solid;
    outline: none;
}

.susinput{
    width: 35%;
    display: flex;
    gap: 1rem;
}

#correo{
    background-color: white;
    border-radius: 15px;
    border: none;
    height: 4rem;
    padding-right: 20px;
    padding-left: 5px;
    color: #A0A0A0;
    width: 60%;
}

#suscribirme{
    background-color: var(--color-secundario);
    border-radius: 15px;
    height: 4rem;
    width: 30%;
}

fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border: none;
}



.max{
    width: 100%;
    font-size: small;
    text-align: right;
}
/* ----------------------------------------------------------------SUSCRIPCIÓN LISTO----------------------------------------- */
/* #prefooter{
    height: 240px;
    background-color: var(--color-secundario);
    background-image: url(../images/LogoFooter.png);
    background-repeat: no-repeat;
    background-position-x: 1100px;
    background-position-y: center ;
    padding-top: 23px;
    padding-left: 70px;
} */

@media (min-width: 769px){
    .prefooter{
        height: 30rem;
        background-color: var(--color-secundario);
        background-image: url(../images/LogoFooter.png);
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1.5rem 0rem 1.5rem 6rem;
        gap: 2rem;
    }
}

.sobreNosotros{
    display: flex;
    flex-direction: row;
}
.sobreNosotros h3{
    padding-left: 2rem ;
    color: white;
    font-size: 3rem;
}
.sobreNosotros span{
    padding-left: 2rem;
    color: #8A8787;
    font-size: 1.5rem;
}
.sobreNosotrosTexto{
    display: flex;
    flex-direction: column;
}

.prefooterimg{
    width: 7.8rem;
}

#footer{    
    background-color: #222222;
    text-align: center;
    color: white;
}
/* ---------------------------------------------------FOOTER LISTO----------------------------------------------------------- */