*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color: #222222;
    background-image: url(../images/LogoPizza.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px ;
    height: 100px;
    padding: 10px 0 10px 20px;
    color: white;
    text-align: right;
}

header div{
    height: 100px;
    padding-top: 25px;
}

header a{
    margin-right: 15px;
    top: 50%;
    color: white;
    text-decoration: none;
}

.cuerpo{
    display: flex;
    justify-content: space-evenly;
    background-color: #f3f3f3;
    padding-top: 30px;
    padding-bottom: 30px;
}

.banner{
    width: 620px;
}

footer{
    background-color: #222222;
    background-image: url(../images/LogoPizza.png);
    background-position-x: 80vw;
    background-position-y: center;
    background-repeat: no-repeat;
    height: 135px;
}

footer div{
    display: flex;
    flex-direction: column;
}
.listaF{
    padding-top: 5px;
    padding-left: 15px;
    text-decoration: none;
    color: white;
    margin-top: 5px;
}

.cuadro{
    background-color: white;
    width: 491px;
    height: 350px;
}

.cuadro h2{
    padding-top: 20px;
    text-align: center;
    color: red;
    font-size: 30px;
}

#contenedor{
    margin-top: 30px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#top ol{
    font-size: large;
    font-weight: bold;
    padding: 10px
}

#pizzita{
    display: block;
}

body{
    background-color: #f3f3f3;
}