*{
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
}
.cabeza {
    background-image: url(../images/banner2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;
    height: 600px;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -10px;
    margin-bottom: 20px;
}
#fotocarnet{
    position: relative;
    margin-bottom: 20px;
    width: 350px;
    border-radius: 10px;
    left: 20px;
    transition: width 1s;
}
#fotocarnet:hover{
    width: 550px;
}
#tituloPrincipal{
    text-align: center;
    background-color: #B6A182;
    padding: 0.2cm;
}
.secundario{
    background-color: #B6A182;
    padding: 0px 10px;
}
ul{
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#atras{
    background-color: #8297B6;
    position: fixed;
    top: 20px;
    left: 30px;
    height: 20px;
    width: 60px;
    border-radius: 5px;
    border: none;
    z-index: 100;
    bottom: 40px;
    transition: width .5s;
}

#atras:hover{
    background-color:#a8b6cc;
    width: 80px;
}

b{
    text-decoration: underline;
}